<%= form_for([@facility, @facility.boilers.build]) do |f| %>
  

  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.datetime_select :year %>
  </div>
  <div class="field">
    <%= f.label :facility_id %><br>
    <%= f.text_field :facility_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
<div>
    <%#= link_to 'Destroy', boiler.facility(@boiler), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  
  <%#= link_to 'Delete', [@facility.boilers, @boiler],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>