<%= form_for([@facility, @facility.boilers.build]) do |f| %>
  
<table class="table">
  <tr>
    <td>
  <div class="field">
    <%= f.label :make %><br>
    <%= f.text_field :make %>
  </div>
  </td>
    <td>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.datetime_select :year %>
  </div>
  </td>
  
  </br>
  <tr>
    <td>
  <div class="actions">
    <%= f.submit %>
  </div>
  </td>
  </tr>
  </tr>
  
<% end %>
</table>
  