<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Make</th>
      <th>manfacture</th>
      <th>Year</th>
      <th>Facility</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
<p>
  <%= @boiler.make %>
</p>
</td>
<td>
<p>
  <%= @boiler.manfacture %>
</p>
</td>
<td>
<p>
  <%= @boiler.year.strftime("%m/%d/%Y") %>
</p>
</td>
<td>
<p>
  <%= @boiler.facility.name %>
</p>
</td>
</tr>
</tbody>
</table>

<%= link_to 'Edit', edit_facility_boiler_path(@facility, @boiler) %> |
<%= link_to 'Back', facility_boilers_path(@facility) %>
