<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @boiler.make %>
</p>

<p>
  <strong>Type:</strong>
  <%= @boiler.type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @boiler.year %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @boiler.facility %>
</p>

<%= link_to 'Edit', [@boiler.facility, @boiler] %> |
<%= link_to 'Back', facility_boilers_path(@facility) %>
