<p id="notice"><%= notice %></p>
<table>
  <th>
  <tr>
    <td>
    <strong>Name:</strong>
    </td>
  </tr>
  </th>
  <tr>
    <td>
    <%= @facility.name %>
    </td>
  </tr>
  <th>
  <tr>
    <td>
    <strong>Date:</strong>
    </td>
  </tr>
  </th>
  <tr>
    <td>
    <%= @facility.date %>
    </td>
  </tr>
  </tr>
</table>
<%= link_to 'Facility Boilers', facility_boilers_path(@facility) %>

<p><strong> Facility's Boilers</strong></p>
<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Type</th>
      <th>Year</th>
      <th>Facility</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facility.boilers.each do |boiler| %>
      <tr>
        <td><%= boiler.make %></td>
        <td><%= boiler.type %></td>
        <td><%= boiler.year %></td>
        <td><%= boiler.facility.name %></td>
        <td><%= link_to 'Show', [boiler.facility, boiler] %></td>
        <td><%= link_to 'Edit', [boiler.facility, boiler] %></td>
        <td><%= link_to 'Delete', [boiler.facility, boiler],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a Boiler</h2>
<%= render 'boilers/form' %></br>
<%= link_to 'Edit', edit_facility_path(@facility) %> |
  
<%= link_to 'Back', facilities_path %>
